body {
    background-image: url ("https://media.giphy.com/media/l378dZY8iCZFwt2QE/giphy.gif");
}

div {
    max-width: 750px;
    margin-top: 100px;
    margin-bottom: 100px;
    margin: auto
}

img {
    display: block;
    margin: auto;
}

h1 {
    font-family: 'Abril Fatface', cursive;
    color: #A4C8C4;
    text-align: center;
    font-size: 100px;
}

h2 {
    font-family: 'Abril Fatface', cursive;
    color: #202020;
    text-align: center;
    font-size: 40px;
}

p {
    color: #646464;
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
}

a:link {
    color: #7FCFC7;
}

a:visited {
    color: #336368;
}

a:hover {
    color: #A4C8C4;
}

a:active {
    color: #336368;
}