body {
    background-color: #FCFCFC;
}

div {
    max-width: 750px;
    margin-top: 100px;
    margin-bottom: 100px;
    margin-left: 10px;
    margin-right: 10px;
    margin: auto;
    background-color: #FCFCFC;
}

img {
    display: block;
    margin: auto;
    width: 35%
}

h1 {
    font-family: 'Abril Fatface', cursive;
    color: #A4C8C4;
    text-align: center;
    font-size: 4rem;
}

h2 {
    font-family: 'Abril Fatface', cursive;
    color: #202020;
    text-align: center;
    font-size: 2rem;
}

p {
    color: #646464;
    font-family: 'Open Sans', sans-serif;
    font-size: 1.2rem;
}

a:link {
    color: #7FCFC7;
}

a:visited {
    color: #336368;
}

a:hover {
    color: #A4C8C4;
}

a:active {
    color: #336368;
}
